body {

  background-image:url("../images/asteroids.jpg");
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

h1 {
  margin: 30px auto 0px auto;
  text-align: center;
  font-size: 75px;
  display:inline-block;
  color: red;
  background-color:black;
}

h3 {

  font-size:25px;
}

h4 {

  font-size:20px;
}


.container {
  display: inline-block;
}

.strip {
  margin-top: 50px;
  position: relative;
  background: 010E12;
  padding: 15px;
  width: 640px; 
  float:right;
}

/*.bang {
  position: absolute;
  left: 560px;
  width: 2px;
  height: 80%;
  background: white;
}*/

.two {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  border: 0;
  border-left: 2px solid green;
  left: 405px;
  width: 30px;
  height: 100%;
}

.three {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  border: 0;
  border-left: 2px solid yellow;
  left: 485px;
  width: 30px;
  height: 100%;
}

.four {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  border: 0;
  border-left: 2px solid blue;
  left: 445px;
  width: 30px;
  height: 100%;
}

.five {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  border: 0;
  border-left: 2px solid red;
  left: 525px;
  width: 30px;
  height: 100%;
} 

#earth {
  position: absolute;
  right: 10px;
  background: url(../images/earth.gif);
  width: 100px;
  height: 100px;
  background-size: cover; 
}



#rock {
  background: url(../images/asteroid.gif);
  background-size: cover;
  position: relative;
  left: 0;
  width: 75px;
  height: 58px;
  border-radius: 100%;
  margin: 15px;
}

.scoreboard {
  position: absolute;
  bottom: 0;
  background: gold;
  width: 670px;
  height: 140px;
}


.display {

  width: 65%;
  height: 120%;
  float: left;
  background: red;
  color:black;

}


.fancybox-welcome {
  width: 575px;
  height: 130px;
  border-radius:20px;
  background-color:red;
  color: black;
  overlayColor:red;
}

.fancybox-new-game {
  border-radius:20px;
  background-color:red;
  color: black;

}

button {

border-radius: 50px
background-color:red;
color: black;

}



.scorecard {
  width: 35%;
  height: 100%;
  float: right;
  background: black;
  color:red;
}
.scoreboard ul {

  list-style: none;
  padding: 0;
  margin: 10px 10px;

}

.scoreboard ul li {
  color: red;
  


}

/*div:first-of-type{background-color: dark green}
div:nth-of-type(2){background-color: blue}
div:nth-of-type(3){background-color: red}

/*#crowd-top {
    position:relative;
    display:inline-block;
    background-color:yellow;
    height:100px;
    width:33%;*/
  }