body {

  background-image:url("images/asteroids.jpg");
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

h1 {
  margin: 30px auto 0px auto;
  text-align: center;
  font-size: 75px;
  display:inline-block;
  color: red;
  background-color:black;
}


.container {
  display: inline-block;
}

.strip {
  margin-top: 50px;
  position: relative;
  background: 010E12;
  padding: 15px;
  width: 640px; 
  float:right;
}

.bang {
  position: absolute;
  left: 560px;
  width: 2px;
  height: 80%;
  background: white;
}

.five {
  position: absolute;
  left: 450px;
  width: 2px;
  height: 100%;
  /*background: red;*/
}

.four {
  position: absolute;
  left: 470px;
  width: 2px;
  height: 100%;
  /*background: blue;*/
}

.two {
  position: absolute;
  left: 400px;
  width: 2px;
  height: 80%;
  background: white;
}

.one {
  position: absolute;
  left: 510px;
  width: 2px;
  height: 100%;
  /*background: yellow;*/
} 

#moon {
  position: absolute;
  right: 10px;
  background: url(images/full-moon-300.jpg);
  width: 100px;
  height: 100px;
  background-size: cover; 
}

/*#batsman {
  position: absolute;
  right: 30px;
  background: url(images/batsman.jpeg);
  width: 70px;
  height: 70px;
  background-size:co; 
}*/

/*#bowler {
  position: absolute;
  right: 30px;
  background: url(images/bowler.jpg);
  width: 70px;
  height: 70px;
  background-size: cover; */
/*}*/



#ball {
  background: url(images/asteroid.png);
      background-size: cover;
  position: relative;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 15px;
}

.scoreboard {
  position: absolute;
  bottom: 0;
  background: black;
  width: 670px;
  height: 140px;
}


.display {
  width: 65%;
  height: 100%;
  float: left;
  background: red;
  color:gold;

}

.instructions {
 width:500px;
 height:200px;
 background:black;
 color:gold;

}

.scorecard {
  width: 35%;
  height: 100%;
  float: right;
  background: blue;
  color:gold;
}
.scoreboard ul {

  list-style: none;
  padding: 0;
  margin: 10px 10px;

}

.scoreboard ul li {
  color: gold;
  


}

/*div:first-of-type{background-color: dark green}
div:nth-of-type(2){background-color: blue}
div:nth-of-type(3){background-color: red}

/*#crowd-top {
    position:relative;
    display:inline-block;
    background-color:yellow;
    height:100px;
    width:33%;*/
  }