body {

  background-color: green
}

h1 {
margin: 30px auto 0px auto;
text-align: center;
font-size: 40px;
}

button {

  font-size:30px
  border-radius: 20px;
  ;
}

.strip {
  position: relative;
  background: #116611;
  padding: 1px;
  width: 640px;
}

.out {
  position: absolute;
  left: 560px;
  width: 2px;
  height: 100%;
  background: black;
}

.six {
  position: absolute;
  left: 450px;
  width: 2px;
  height: 100%;
  background: red;
}

.four {
  position: absolute;
  left: 470px;
  width: 2px;
  height: 100%;
  background: blue;
}

.two {
  position: absolute;
  left: 400px;
  width: 2px;
  height: 100%;
  background: pink;
}
 
.one {
  position: absolute;
  left: 510px;
  width: 2px;
  height: 100%;
  background: yellow;
} 

  


#ball {
  position: relative;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: red;
  margin: 15px;
}

#crowd-top {
    float:top;
}


/*div.ball  {     
  width: 50px;     
  height: 50px;    
   background: url("../WDI_20_PROJECT_1/images/ball.jpeg") no-repeat;     background-size: 20px;     transition: 1s ease-in-out;   }       
    The translate() method moves an element from its current position (according to the parameters given for the X-axis and the Y-axis)     
   div.ball:hover {         
    transform: translate(0px,-500px);
       }*/